# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
path = r'C:\Users\Natanael_Quintiliano\EBAC\Exercicios_EBAC\Etapa_3\Bases_de_Dados\SINASC_RO_2019.csv'
df_sinasc = pd.read_csv(path)
df_sinasc.sample(5)

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
24357,1,2495228.0,110028,1,25,5.0,8 a 11 anos,999992.0,1.0,0.0,...,9,1490976,ATIVO,MUNIC,Rolim de Moura,Rondônia,-11.72226,-61.78578,227.0,1457.888
26022,1,2808668.0,110032,1,20,5.0,8 a 11 anos,999992.0,0.0,0.0,...,2,1492676,ATIVO,MUNIC,São Miguel do Guaporé,Rondônia,-11.69949,-62.72006,191.0,7460.219
16821,1,2808609.0,110011,1,24,5.0,4 a 7 anos,999992.0,2.0,1.0,...,5,1483371,ATIVO,MUNIC,Jaru,Rondônia,-10.43595,-62.47623,163.0,2944.128
2042,1,2516381.0,110004,1,32,1.0,8 a 11 anos,999992.0,0.0,0.0,...,5,2062,ATIVO,MUNIC,Cacoal,Rondônia,-11.43387,-61.44294,177.0,3792.998
23210,1,3970442.0,110020,1,24,1.0,8 a 11 anos,999992.0,1.0,0.0,...,5,1489828,ATIVO,MUNIC,Porto Velho,Rondônia,-8.76889,-63.83145,87.0,34096.394

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [3]:
pd.set_option('display.precision', 2)
df_idade_media = df_sinasc[['IDADEPAI', 'IDADEMAE','munResNome']].groupby('munResNome').mean()
df_idade_media

                           IDADEPAI  IDADEMAE
munResNome
Alta Floresta D'Oeste         29.55     25.99
Alto Alegre dos Parecis       29.18     24.84
Alto Paraíso                  28.83     24.96
Alvorada D'Oeste              30.76     25.77
Ariquemes                     32.47     25.61
Buritis                       30.81     25.56
Cabixi                        34.33     26.04
Cacaulândia                   36.33     25.55
Cacoal                        30.93     26.89
Campo Novo de Rondônia        30.50     24.83
Candeias do Jamari            29.89     25.24
Castanheiras                  30.39     27.28
Cerejeiras                    31.65     27.24
Chupinguaia                   29.63     25.33
Colorado do Oeste             34.35     27.60
Corumbiara                    32.47     24.72
Costa Marques                 30.61     24.41
Cujubim                       31.40     24.48
Espigão D'Oeste               31.20     26.09
Governador Jorge Teixeira     29.22     24.40
Guajará-Mirim                 30.47     25.46
Itapuã do Oeste               42.50     26.06
Jaru                          32.20     25.98
Ji-Paraná                     31.13     26.36
Machadinho D'Oeste            31.33     25.48
Ministro Andreazza            33.85     27.90
Mirante da Serra              32.15     26.30
Monte Negro                   34.68     25.65
Município ignorado - RO       22.00     24.00
Nova Brasilândia D'Oeste      30.52     26.22
Nova Mamoré                   31.69     25.33
Nova União                    31.37     26.89
Novo Horizonte do Oeste       31.59     26.94
Ouro Preto do Oeste           31.23     26.38
Parecis                       32.47     26.45
Pimenta Bueno                 29.75     25.20
Pimenteiras do Oeste          35.60     25.07
Porto Velho                   32.35     26.31
Presidente Médici             30.15     25.80
Primavera de Rondônia         31.89     27.02
Rio Crespo                    28.00     26.66
Rolim de Moura                30.36     26.60
Santa Luzia D'Oeste           30.70     26.12
Seringueiras                  30.50     24.91
São Felipe D'Oeste            31.40     26.48
São Francisco do Guaporé      31.64     25.66
São Miguel do Guaporé         32.67     25.93
Teixeirópolis                 31.50     26.03
Theobroma                     30.08     25.54
Urupá                         31.01     26.69
Vale do Anari                 34.00     26.10
Vale do Paraíso               29.98     25.68
Vilhena                       34.15     26.43

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [4]:
df_peso_medio = df_sinasc[['ESCMAE', 'DTNASC','SEXO','PESO']]
df_peso_medio = df_peso_medio[df_peso_medio['DTNASC'] == '2019-07-03'].groupby(['SEXO', 'ESCMAE'])
df_peso_medio.agg({'PESO'  :[('Min', 'min'),('Média', 'mean'), ('Max', 'max')]})

                           PESO
                            Min    Média   Max
SEXO      ESCMAE
Feminino  1 a 3 anos       2460  2460.00  2460
          12 anos ou mais  2700  3060.62  3630
          4 a 7 anos       2545  3292.86  3620
          8 a 11 anos       995  3196.70  4230
Masculino 12 anos ou mais  1975  3295.00  4475
          4 a 7 anos       2500  3205.00  3700
          8 a 11 anos      1380  3139.17  4415

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [5]:
"""
Primeiro verificamos quais municipio teve menos nascimentos
"""
df_sinasc['munResNome'].value_counts()

munResNome
Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: count, dtype: int64

In [6]:
"""
Verificamos que o municipio de castanheira teve menos nascimentos filtramos a base agora
"""
df_menos_nasc = df_sinasc[[ 'IDADEMAE','IDADEPAI','munResNome']]
df_menos_nasc = df_menos_nasc[df_menos_nasc['munResNome'] == 'Castanheiras'].groupby('munResNome')

In [7]:
"""
Apos isso vericamos: 
- qual a idade media, maxima, minima das maes nesse municipio?
- qual a idade media, maxima, minima dos pais nesse municipio?
"""

pd.set_option('display.precision', 2)
df_menos_nasc.agg({
                 'IDADEPAI'  :[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 ,'IDADEMAE'  :[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 })

             IDADEPAI              IDADEMAE
                  Min  Média   Max      Min  Média Max
munResNome
Castanheiras     17.0  30.39  43.0       17  27.28  39

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [8]:
"""
Primeiro filtramos as colunas necessarias
"""
df_nasc_marco = df_sinasc[['DTNASC','QTDFILVIVO','QTDFILMORT','IDADEPAI','IDADEMAE','munResNome']]

In [9]:
"""
Depois ajustamos e filtramos os nascidos em março e ja verificamos qual municipio teve mais nascimentos
"""
df_nasc_marco['DTNASC'] = pd.to_datetime(df_nasc_marco['DTNASC'])
df_nasc_marco = df_nasc_marco[df_nasc_marco['DTNASC'].dt.month == 3]
df_nasc_marco['munResNome'].value_counts().idxmax()

C:\Users\Natanael_Quintiliano\AppData\Local\Temp\ipykernel_2148\158144464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nasc_marco['DTNASC'] = pd.to_datetime(df_nasc_marco['DTNASC'])

'Porto Velho'

In [10]:
"""
Apos isso filtramos apenas os nascidos naquele municipio e vericamos: 
- qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
- qual a idade media, maxima, minima dos pais nesse municipio??
"""
pd.set_option('display.precision', 2)
df_nasc_marco = df_nasc_marco[df_nasc_marco['munResNome'] == 'Porto Velho'].groupby('munResNome')
df_nasc_marco.agg({
                  'QTDFILVIVO':[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 ,'QTDFILMORT':[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 ,'IDADEPAI'  :[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 ,'IDADEMAE'  :[('Min', 'min'), ('Média', 'mean'), ('Max', 'max')]
                 })

            QTDFILVIVO            QTDFILMORT            IDADEPAI               \
                   Min Média  Max        Min Média  Max      Min  Média   Max
munResNome
Porto Velho        0.0   1.3  9.0        0.0  0.35  4.0     19.0  34.63  62.0

            IDADEMAE
                 Min Média Max
munResNome
Porto Velho       14  26.6  44

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

### Me surprendi ao ver que a escolaridade da mãe não influencia como imaginava no peso do bebe, pois eu acreditava que se uma mãe tem muitos anos de escolaridade ela ganharia mais o que possibilitaria ter uma alimentação melhor e assim o filho nasceria mais pesado em relação com a mãe com menos escolaridade.